:root {
    --header-height: 64px;
    --max-width: 1104px;
    --side-gap: 0 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lexend Deca";
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 1.68rem;
    border: none;
}

body {
    width: 100vw;
    background: #020617;
}

header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
    background: #020617;
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav-content {
    margin: var(--side-gap);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h1 span {
    color: #FACC15;
    font-weight: inherit;
    font-size: inherit;

}

nav * {
    color: #9CA3AF;

    text-transform: uppercase;
    font-size: 1rem;
}

nav a:active {
    color: #fff;
}

nav {
    display: flex;
    gap: 27px;
}

nav a:first-child {
    color: #fff;
}

main {}

.intro {
    background: #111827;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: var(--max-width);
    margin: var(--side-gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
    max-height: 427px;
}

.intro-container {}

.intro-item {
    max-width: 466px;
}

.greeting {
    color: #EAB308;
    margin-bottom: 32px;
}

.my-name {
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 3rem;
    margin-bottom: 16px;
}

.para {
    margin-bottom: 32px;
    color: #6B7280;
}

button {
    background: #FACC15;
    width: fit-content;
    height: fit-content;
    padding: 8px 20px;
    border-radius: 4px;
    color: #000;
}

.trying-position {
    width: 300px;
    aspect-ratio: 1;
    background: red;
    position: relative;
    margin-left: 300px;
    margin-top: 242px;
    padding: 32px;

}

/* .box {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 8px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 */
.fix {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(115, 223, 223);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: auto;
}
